# Output directory
out/

# Python
__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OAuth / Secrets
client_secrets.json
token.pickle

# IDEs
.vscode/
.idea/

# Tests
test_output/
